@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input-border {
		@apply border-gray-300 border rounded-lg p-3 focus:outline-0 transition-colors hover:border-gray-400 focus:border-gray-800;
	}

	.text-shadow {
		text-shadow: 0 1px 0 #000;
	}
}

@layer base {
	html {
		-webkit-tap-highlight-color: transparent;
	}

	.article li {
		list-style: disc;
		margin-left: 1rem;
		margin-bottom: 0.25rem;
	}

	.article p,
	.article ul {
		margin-bottom: 1rem;
	}

	.article a {
		text-decoration: underline;
	}

	.article hr {
		background: #888888;
		height: 2px;
		margin-bottom: 1rem;
	}
}
